<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Googlr</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-pills">
                {% if not session.logged_in %}
                <li><a href="{{ url_for('login') }}">Zaloguj się</a></li>
                {% else %}
                <li><a href="{{ url_for('logout') }}">Wyloguj się</a></li>
                {% endif %}
            </ul>

            <div class="hero-unit">
                <h1>Googlr</h1>
                {% block header %}{% endblock %}
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flashes unstyled">
            {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <div class="content">
            {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>