{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <div class="span3 offset4">
            <h2>Logowanie</h2>
            <form action="{{ url_for('login') }}" method="POST">
                <div class="field">
                    <label for="username">Użytkownik</label>
                    <input type="text" name="username" id="username"/>
                </div>
                <div class="field">
                    <label for="password">Hasło</label>
                    <input type="password" name="password" id="password"/>
                </div>
                <button type="submit" name="login" class="btn btn-primary pull-right">Zaloguj się</button>
            </form>
        </div>
    </div>
{% endblock %}