{% extends "layout.html" %}

{% block header %}
    <form id="search" action="{{ url_for('search') }}" method="POST" class="form-search">
        <input type="text" name="q" class="input-xlarge search-query">
        <button type="submit" class="btn">Szukaj</button>
    </form>

    {% if session['found'] %}
    <h2>Znalezione</h2>
    <div class="media">
        <a class="pull-left" href="{{ session['found'].url }}">
            <img class="media-object" src="{{ session['found'].tbUrl }}">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ session['found'].title }}</h4>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="span8">
            <h2 class="offset2">Poszukiwane</h2>
            <div class="row">
                <div class="span4">
                    <h3>Przez Ciebie</h3>
                    <ul class="entries">
                    {% for entry in user_entries %}
                        <li>
                          <a href="{{ url_for('search', q=entry.query) }}">{{ entry.query }}</a>
                          ({{ entry.datetime }})
                        </li>
                        {% else %}
                        <li><em>Brak danych</em></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="span4">
                    <h3>Przez wszystkich</h3>
                    <ul class="entries">
                    {% for entry in all_entries %}
                        <li>
                          <a href="{{ url_for('search', q=entry.query) }}">{{ entry.query }}</a>
                          ({{ entry.datetime }})
                        </li>
                        {% else %}
                        <li><em>Brak danych</em></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="span4">
            <h2>Popularne</h2>
            <ul>
            {% for entry in popular_queries %}
                <li>
                    <a href="{{ url_for('search', q=entry.query) }}">{{ entry.query }}</a>
                    ({{ entry.count }})
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}